body {
  position: relative;
}

a:hover {
  cursor: pointer;
}

h1.book-cover {
  padding-top: 100px;
  text-align: center;
}

textarea {
  resize: none;
}

.add-story-button {
  padding-left: 10px;
}

.shelf-div {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-top-bottom-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.centered {
  margin: auto;
  width: 75%;
}

.shelf {
  border-radius: 10px;
  border: 1px solid black;
  margin: auto;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.story-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.page {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  border: 1px solid #7c7c7c;
  -webkit-box-shadow: 1px 2px black;
          box-shadow: 1px 2px black;
}

.page-image {
  padding-top: 10px;
  padding-bottom: 20px;
}

.page-nav {
  text-align: center;
  padding: 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.edit-page-text-div {
  position: absolute;
  bottom: 0;
}

